/*Column Layout*/
body, html {
	margin: 0;
	padding: 0;
	color: #000;
	background: #FFF;
}

#wrap {
	width: 960px;
	margin: 0 auto;
	padding-top: 200px;
}

article {
	width: 400px;
	margin-left: 280px;
	line-height: 1.25em;
	border: solid 1px;
}

#content p {
	padding: 0 10px 0 10px;
}

footer {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size: 0.5em;
	font-color: #666;
	clear: both;
	padding-top: 75px;
}